.col{
  padding: 5px 10px;
  min-height: 100px;
  float: left;
  transition: width 0.3s ease-in-out;

}

.lg-col-12{
  width: 100%;
  background-color: black;
}

.lg-col-6{
  width: 50%;
  background-color: tomato;
  border: 5px inset ghostwhite;
}

.lg-col-4{
  width: 33.333333%;
  width: -webkit-calc(100%/3);
  width: -moz-calc(100%/3);
  width: -ms-calc(100%/3);
  width: -o-calc(100%/3);
}

.lg-col-3{
  width:25%;
  background-color: gainsboro;
  border: 2px dashed rebeccapurple;
}

.lg-col-2{
  width: calc(100%/6);
  background-color: rebeccapurple;
  border: 1px solid gainsboro;
}

/* DESKTOP */
@media(min-width: 1281px){
  .lg-hide{
    display:none;
  }
}

/* TABLET */
/*Over or equal to 721 and less than or equal to 1280px*/
@media (max-width: 1280px) and (min-width: 721px){
  .md-col-12{
    width:100%;
  }

  .md-col-6{
    width: 50%;
  }

  .md-col-3{
    width: 25%;
  }

  .md-hide{
    display: none;
  }
}


/* SMARTPHONE */
@media(max-width: 720px){
  .sm-col-12{
    width:100%;
  }

  .sm-col-6{
    width: 50%;
  }

  .sm-col-3{
    width: 25%;
  }

  .sm-hide{
    display:none;
  }
}
