*{
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
  overflow: scroll;
}

/*Nav Bar*/
nav {
  display: block;
  margin-top: 10px;
}

.navbar {
  float:left;
  display: inline-block;
  text-align: center;
}

a.home, a.about, a.projects, a.contacts{
  text-decoration: none;
  color: black;
  font-family: 'Josefin Sans', sans-serif;
}

.mobileNavBar {
  float: left;
  border: 1px solid black;
  padding: 5px 10px;
}

header {
  overflow: auto;
  display: block;
}


/* Intro Content */
.intro-content {
  margin-top: 15px;
  height: 650px;
  background-color:#423E67;
}

.intro-text {
  margin: 10% 5% 10% 5%;
  color: #FAF3DD;
  font-family: 'Karla', sans-serif;
}

span.keyword {
  color: #F37061;
}

/* About Me */
.aboutme {
  margin-top: 60px;
  height: 500px;
  background-color: salmon;
}

.aboutme-title {
  margin-left: 5%;
  display: inline-block;
  font-family: 'Karla', sans-serif;
}

.aboutme-title h2 {
  display: inline-block;
}

.aboutme-content {
  margin: 3% 5%;
  display: inline-block;
  text-align: justify;
  line-height: 200%;
  font-family: 'Karla', sans-serif;
}

.aboutme-more {
  margin-top: 0%;
}

/* Skills */
.skills {
  margin-top: 60px;
  background-color: #04395E;
  font-family: 'Karla', sans-serif;
}

.skills-title{
  color: #FAF3DD;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

.skills-list {
  float: left;
  display: inline-block;
  padding: 0px 20px;
  height: 70%;


}

.front-end, .back-end, .others{

  margin-top: 5px;
  color: #FAF3DD;
  text-align: center;
  background-color: rgba(255,255,255,0.5);
  height: 10%;
  list-style-type: none;

}

.front-end-list, .back-end-list, .others-list {
  margin-top: 10px;
  padding-top: 5px;
  color: #FAF3DD;
  text-align: center;
  background-color: rgba(255,255,255,0.5);
  height: 45vh;
}

.list {
  list-style-type: none;
}

.cv-text {
  margin: 0 auto;

}

.cv-text p {
  margin-top: 30px;
  padding: 5px 5px;
  text-align: center;
  border: 1px solid #FAF3DD;
  color: #FAF3DD;
}

.cv-text-p:hover {
  color: #04395E;
  background-color: #FAF3DD;
}


/*Projects Sections*/
.projects-container {
  margin-top: 100px;
  font-family: 'Karla', sans-serif;
}

.projects-title {
  color: #51A3A3;
  text-align: center;
}

.all-projects-boxes {

}

.projects-box {
  top: 30px;
  background-color: #51A3A3;
  height: 450px;
}

.projects-description {
  margin: 0px 50px;
}

.projects-description h3{
  padding: 10px 5px;
}

.projects-description p{
  padding: 10px 5px;
}

.projects-links {
  text-align: center;
}

.projects-screenshots {

}

.projects-image{
  margin-top: 0px;
  margin-left: 40px;
}

.projects-image img {
  height: 400px;
  width: 500px;
}

/*Contact Section */

.contact-container {
  background-color: #F2F4F3;
  font-family: 'Karla', sans-serif;
}

.contact-innerWrap {
  margin: 0 auto;
  /*border: 1px solid black;*/
  height: 300px;
  width: 95%;
}

.contact-title {
  height: 100%;
}

.contact-title h2 {
  margin-top: 80px;
  margin-left: 40px;
}

.contact-content {
  height: 100%;
}

.contact-content-wrap {

  margin-left: 10%;
}

.email, .linkedin, .github, .twitter{
  width: 25%;
  height: 25%;
  float: left;
  display: inline-block;
  padding: 2.5% 2.5%;
}

.email {
  background-color: #423E67;
}

.email img {
  width: 100%;
  height: 100%;
}

.linkedin {
  background-color: #FA8072;
}

.linkedin img {
  width: 100%;
  height: 100%;
}

.github {
  background-color: #423E67;
}

.github img {
  width: 100%;
  height: 100%;
}

.twitter {
  background-color: #FA8072;
}

.twitter img {
  width: 100%;
  height: 100%;
}
