*{
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 20px;
}

body {
  margin: 0;
}

.container {
  width: 100%;
  height: 100vh;
  border: 10px solid #424069;
  overflow: auto;
}

#homepage {
  overflow: hidden;
  z-index: 1;
  position: relative;
}

.homepage-wrap {
  z-index: 2;
  position: absolute;
  left: 0;
  top: 50%;
  padding: 0 20px;
  width: 100%;
  text-align: center;
}

header {
  margin: 0 auto;
  overflow: auto;
}

header .nav-wrapper {
  /*float: left;*/
  /*padding: 0vh 2vw;*/
  display: inline-block;
  text-align: center;
  /*width: calc(100%/4);*/
  font-family: 'Josefin Sans', sans-serif;
  overflow: auto;
}

.nav a {
  text-decoration: none;
  color: #424069;
  font-size: 0.9rem;
}

.nav-wrapper {
  width: 100%;
  margin: 0 auto;
}

.intro-section {
  margin-top: 12%;
  text-align: center;
  font-family: 'Karla', sans-serif;
}

.intro-wrapper h2{
  text-align: center;
  font-size: 3rem;
}

.intro-p {
  line-height: 180%;
}

/*.intro-p {
  padding-left: calc((100%/12)*2);
}*/

/* about me page */
.about-me {
  display: block;
  width: calc((100%/12)*9);
  margin: 0 auto;
  padding-top: 4vh;
  font-family: 'Karla', sans-serif;
  overflow: auto;
}

.about-me-text {
  text-align: justify;
  line-height: 150%;
  font-size: 0.95rem;
}

/*Skill */
.skills-list li {
  list-style-type: none;
  display: inline-block;
  border: 1px solid #6559ae;
  color: #6559ae;
  /*background-color: #6559ae;*/
  margin: 2px;
  padding: 5px;
  border-radius: 2px;
  font-size: 18px;
  box-shadow: 1px 0px 2px 1px rgba(0,0,0,0.15);
  font-size: 0.85rem;
}

.resume{
  margin-top: 5%;
  text-align: center;
}

.resume a {
  text-decoration: none;
  background-color: #6559ae;
  color: white;
  padding: 5px 10px;
  border-radius: 20px;
  font-size: 0.85rem;
}

.resume a:hover {
  background-color: #ED254E;
  font-size: 1rem;
}


/*--------------------------------------------------*/
/* Projects page */
.projects {
  width: 80%;
  margin: 15px auto;
  /*border: 1px solid black;*/
  /*height: 100%;*/
  overflow: auto;
}

.project-wrap{
  overflow: auto;
}

.project-link {
  text-decoration: none;
}

.project-list {
  /*border: 1px solid black;*/
  width: 200px;
  height: 200px;
  position: relative;
  background: rgba(255,255,255,1);
  display: block;
  margin: 0 auto;
  cursor: pointer;
  box-shadow: inset 0 0 0 3px #2c3e50;
	-webkit-transition: background 0.4s 0.5s;
	transition: background 0.4s 0.5s;
  text-align: center;
  overflow: auto;

}

.project-list:hover {
  background: rgba(255,255,255,0);
  -webkit-transition-delay: 0s;
  transition-delay: 0s;

}

.project-list h3{
  font-family: 'Karla', sans-serif;
  line-height: 130px;
  font-weight: bold;
  width: 200px;
  color: #663399;
}


.project-list span {
  display: block;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 13px;
  color: #663399;
}


.project-list svg {
  position: absolute;
  top: 0;
  left:0;
}

.project-list svg line {
  stroke-width: 3;
  stroke: #663399;
  /*stroke: #42033D;*/
  fill: none;
  -webkit-transition: all 0.8s ease-in-out;
  transition: all 0.8s ease-in-out;
}

.project-list:hover svg line {
  -webkit-transition-delay: 0.08s;
  transition-delay: 0.08s;
}


.project-list svg line.top,
.project-list svg line.bottom {
	stroke-dasharray: 220 160;
}

.project-list svg line.left,
.project-list svg line.right {
	stroke-dasharray: 220 160;
}

.project-list:hover svg line.top {
	-webkit-transform: translateX(-400px);
	transform: translateX(-400px);
}

.project-list:hover svg line.bottom {
	-webkit-transform: translateX(400px);
	transform: translateX(400px);
}

.project-list:hover svg line.left {
	-webkit-transform: translateY(400px);
	transform: translateY(400px);
}

.project-list:hover svg line.right {
	-webkit-transform: translateY(-400px);
	transform: translateY(-400px);
}

.project-list {
  /*box-shadow: inset 0 0 0 10px #2c3e50;*/
}

.project-list:hover h3,
.project-list:hover span {
	color: #ED254E;
}

.project-list svg line {
	stroke-width: 12;
}

.project-list:hover svg line {
	stroke: #ED254E;
}

/*.project-link {
  height: 250px;
  width: 250px;

  z-index: 1;
  display: block;
  margin: 0 auto;
  text-decoration: none;
  font-weight: bold;
}


.project-link:after {
  background: linear-gradient(120deg, #6559ae, #ff7159, #6559ae);

}*/




/*--------------------------------------------------*/
/* Project Detail page */

.back-button {
  margin-left: 5%;
}

.back-button a {
  font-family: 'Karla', sans-serif;
  text-decoration: none;
  border:1px solid #6559ae;
  color: #6559ae;
  padding: 3px 8px;
  font-size: 0.7rem;
  text-transform: uppercase
}

.back-button a:hover {
  color: white;
  background-color: #6559ae;
}

.project-details-container {
  width: 90%;
  margin: 0 auto;
  /*border: 1px solid red;*/
  overflow: auto;
}

.project-details-inner{
  width: 95%;
  margin: 0 auto;
  /*border: 1px solid purple;*/
  /*height:200px;*/
  overflow: auto;
}

.previous-button, .next-button {
  margin: 0 auto;
  width: 15px;
  height: 30px;
  /*border: 1px solid black;*/
  height: 500px;
}

/*#slider {
  position: relative;
  overflow: hidden;
  margin: 20px auto 0 auto;
}*/

#slider ul {
  position: relative;
  margin: 0;
  padding: 0;
  height: 200px;
  list-style: none;
}

#content-container {
  /*border: 1px solid red;*/
  position: relative;
  overflow: hidden;

}

#wrapper {
  position: relative;
  margin: 0;
  padding: 0;
  height: 400px;
  /*margin: 20px auto 0 auto;*/
  /*border: 1px solid blue;*/
}

.slider-innerWrap {
  position: relative;
   margin: 0;
   padding: 0;
   height: 400px;
}

.project-slider-list{
  position: relative;
  display: block;
  float: left;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 400px;
  background: #ccc;
  text-align: center;
  line-height: 300px;
  /*border: 1px solid black;*/
  left: 40px;
  overflow: auto;
}

.previous-button a, .next-button a{
  text-decoration: none;
  line-height: 500px;
}

.project-slider-title {
  display: inline-block;
}

.project-slider-image {
  display: inline-block;
}

.project-slider-image img {
  height: 100px;
  width: 100px;
}

.project-slider-list-wrap {
  position: relative;
  width: 1000px;
  height: 400px;
  float: left;
  z-index: 1;
}

.projects-slides {
  overflow: auto;
}

.previous, .next {
    animation-name: rotate;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    font-size: 20px;
}

@keyframes rotate {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}

.previous:hover , .next:hover {
  font-size:30px;
  color: #ED254E;
}


.project-details-container {
  font-family: 'Karla', sans-serif;
}

.slide-control {
  text-align: center;
  line-height: 300px;
  cursor: pointer;
}

#content-container {
  width: 100%;
  height: 100%;
  transform: translate3d(0,0,0);
  overflow: hidden;
  height: 500px;
  box-shadow: 0 15px 15px -15px #2C3E50;
}

#wrapper {
  width: 100%;
  height: 400%;
  transform: translate3d(0,0,0);
}

.content {
  float: left;
  width: 100%;
  height: 500px;
  white-space: normal;
  background-repeat: no-repeat;
}

#itemOne {
    background-color: #F2F4F3;
}
#itemTwo {
    background-color: #F2F4F3;
}
#itemThree {
    background-color: #F2F4F3;
}
#itemFour {
  background-color: #F2F4F3;
}

.project-slide-each-wrap {
  overflow: auto;
  height: 100%;
  margin-top: 10%;

}

.project-image-innerWrap {
  width: 90%;
  margin: 0 auto;

}

.project-description-innerWrap {
  width: 95%;
  margin: 0 auto;
}

.project-image img {
  width: 100%;
}

.projects-links {
  text-align: center;
}
.projects-links a{
  text-decoration: none;
  padding: 5px;
  /*border: 1px solid salmon;*/
}





/*--------------------------------------------------*/
/* Contact page */
.contact {
  width: 60%;
  overflow: auto;
  font-family: 'Karla', sans-serif;
  margin: 5% auto;
}

.contact-innerWrap {
  margin: 0 auto;
}

.contact-icons {
  margin: 0 auto;
  padding-top: 8%;
}

.icons {
  width: 180px;
  height: 180px;
  display: inline-block;
}

.icons img {
  width: 160px;
  height: 160px;
}

.email img {
  background-color: #423E67;
  padding: 5px 5px;
}

.github img {
  background-color: #423E67;
  padding: 5px 5px;
}

.linkedin img {
  background-color: #FA8072;
  padding: 5px 5px;
}

.twitter img {
  background-color: #FA8072;
  padding: 5px 5px;
}
